.header {
  max-width: 880px;
  width: 100%;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
  opacity: .7;
  display: flex;
  align-items: center;
  font-family: 'Inter';
}

@media screen and (max-width: 880px) {
  .header {
    width: 80%;
    margin: 28px 0;
    align-self: center;
  }
}

@media screen and (max-width: 595px) {
  .header {
    width: 80%;
    margin: 28px 0;
  }
}